<div class="add-new-address text-center">
  <i class='bx bx-plus'></i>
  Thêm địa chỉ mới
</div>

<div class="user-info-address">
  <ul>
    <li class="user-info--name">{{'username'}}</li>
    <li class="user-info--address"><span>Địa chỉ:</span> Tòa Nhà 97 99 láng hạ, Phường Láng Hạ, Quận Đống Đa, Hà Nội</li>
    <li class="user-info--phone"><span>Điện thoại:</span> 0969296064</li>
  </ul>

  <a href="">Chỉnh sửa</a>
</div>

<div class="user-info-address">
  <ul>
    <li class="user-info--name">{{'username'}}</li>
    <li class="user-info--address"><span>Địa chỉ:</span> Tòa Nhà 97 99 láng hạ, Phường Láng Hạ, Quận Đống Đa, Hà Nội</li>
    <li class="user-info--phone"><span>Điện thoại:</span> 0969296064</li>
  </ul>

  <a href="">Chỉnh sửa</a>
</div>

<div class="user-info-address">
  <ul>
    <li class="user-info--name">{{'username'}}</li>
    <li class="user-info--address"><span>Địa chỉ:</span> Tòa Nhà 97 99 láng hạ, Phường Láng Hạ, Quận Đống Đa, Hà Nội</li>
    <li class="user-info--phone"><span>Điện thoại:</span> 0969296064</li>
  </ul>

  <a href="">Chỉnh sửa</a>
</div>