.user-form{
    margin: auto;
    padding: 15px;
}

.form-header{
    display: flex;
}

.auth-form{
    background-color: blue;
}

.user-form .spinner {
    width: 15px;
    height: 15px;
    font-size: 8px;
}