.gift-box{
    background-color: #D2EFFD;
    border-radius: 3px;
    color: #017FFF;
    font-size: 12px;
    padding: 2px 6px;
}

.empty-thumb{
    margin: auto;
    width: 170px;
}

.spinner {
    width: 15px;
    height: 15px;
    font-size: 8px;
}