
.banner { 
    height: 270px;
    display: grid;
    grid-template-columns: 67% 33%;
    grid-column-gap: 5px;
}

.banner-right img{
    border-radius: 5px;
    max-height: 255px;
}

@media (max-width: 992px) {

    .banner .banner-right{
        display: none;
    }

    .banner{
        display: block;
        height: auto;
        margin-top: 105px;
    }
}