<section class="header-lg">
  <div class="container" style="height: 100px;">
    <div class="header-top">
      <a class="logo" routerLink="/">
        <img width="100" src="http://static.muahoantien.com/uploads/library/logo_requa_vn.png" class="img-fluid" alt="">
      </a>
      <div class="menu-box header-top-item">
        <p class="mb-0"><i class='bx bx-menu fs30'></i></p>
        <div class="menu-content">
          <p class="fs11 mb-0">Danh mục</p>
          <p class="fs13 mb-0">Sản phẩm <i class='bx bxs-down-arrow fs8'></i></p>
        </div>
      </div>
      <div class="search-box">
        <app-search-box></app-search-box>
      </div>
      <div class="user-box header-top-item">
        <p class="mb-0"><i class='bx bx-user fs30' ></i></p>
        <div class="user-content">
          <p class="fs11 mb-0">Tài khoản</p>
          <p class="fs13 mb-0">Đăng nhập <i class='bx bxs-down-arrow fs8'></i></p>
        </div>

      </div>
      <div class="cart-box header-top-item text-decoration-none">
        <a routerLink="/gio-hang"  class="position-relative mb-0 text-white text-decoration-none">
          <i class='bx bx-cart fs30' ></i>
          <span class="bg-warning cart-quatity">{{productCount}}</span>
        </a>
        <div class="user-content">
          <p class="fs11 mb-0">&nbsp;</p>
          <p class="fs13 mb-0">Giỏ hàng <i class='bx bxs-down-arrow fs8'></i></p>
          <div ngbDropdown #myDrop="ngbDropdown" placement="bottom-right">
            <button class="d-none" id="dropNotifyCart" ngbDropdownAnchor (click)="myDrop.open()"></button>
            <div ngbDropdownMenu aria-labelledby="dropNotifyCart" class="mt-2 ml-5 p-3 dropNotifyCart">
              <p class="mb-2"> <i class='bx bxs-check-circle text-success'></i> Thêm vào giỏ hàng thành công!</p>
              <a routerLink="/gio-hang" class="btn btn-danger btn-block" (click)="myDrop.close()">Xem giỏ hàng và thanh toán</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-bottom">
      <span></span>
      <span></span>
      <ul>
        <li> <a href=""> tủ lạnh</a> </li>
        <li> <a href=""> airpod</a> </li>
        <li> <a href=""> sách kỹ năng sống</a> </li>
        <li> <a href=""> áo hoodie nam</a> </li>
        <li> <a href=""> giỏ quà tết</a> </li>
        <li> <a href=""> sữa rửa mặt</a> </li>
        <li> <a href=""> sạc dự phòng</a> </li>
      </ul>
    </div>
  </div>
</section>

<section class="header-sm" id="header-sm">
  <div *ngIf="isTop" class="d-flex align-items-end pr15">
    <div id="logo-sm" class="logo-sm">
      <img class="img-fluid" src="https://salt.tikicdn.com/ts/upload/d4/ca/89/28d85ed27396c1beebad8a3fec18bfe4.png" alt="">
    </div>
    <div class="cart-sm">
      <i class='bx bx-cart fs30 text-white'></i>
      <span class="bg-warning cart-quatity">{{productCount}}</span>
    </div>
  </div>

  <div class="search-box mt-2 d-flex">
    <div [ngClass]="{'col-12': isTop, 'col-11': !isTop}">
      <app-search-box></app-search-box>
    </div>
    <div *ngIf="!isTop" class="cart-sm">
      <i class='bx bx-cart fs30 text-white'></i>
      <span class="bg-warning cart-quatity">{{productCount}}</span>
    </div>
  </div>
</section>
