.header-lg, .header-sm{
    background-color: #017FFF;
}

.header-lg .container {
    max-width: 1200px;
    padding: 0 15px;
}
.header-top{
    display: grid;
    grid-template-columns: auto auto 55% auto auto;
    padding: 18px 0 5px;
    grid-column-gap: 16px;
}

.header-top-item, .menu-box{
    display: flex;
    color: #fff;
    justify-content: space-evenly;
    align-items: center;
}

.search-box{
    position: relative;
    height: 38px;
}

.cart-quatity{
    position: absolute;
    border-radius: 50%;
    padding: 0 5px;
    left: 20px;
    bottom: 15px;
    color: #000;
    font-size: 11px;
}

.header-bottom{
    display: grid;
    grid-template-columns: auto auto 59% auto auto;
}

.header-bottom ul{
    list-style-type: none;
    display: flex;
}

.header-bottom ul>li a{
    color: #fff;
    font-size: 11px;
    margin-right: 8px;
    text-decoration: none;
}



// header sm
.header-sm{
    display: none;
}
.logo-sm{
    width: 50px;
    height: 50px;
    padding-top: 15px;
}

.cart-sm{
    position: relative;
}

.cart-quatity-sm{
    position: absolute;
    border-radius: 50%;
    padding: 0 5px;
    left: 20px;
    color: #000;
    font-size: 11px;
}

.dropNotifyCart{
    width: 300px;
}

.content-dropdown{
    cursor: pointer;
    position: relative;
}

.content-dropdown:hover  .dropdown-item{
    display: block;
}

.dropdown-item{
    position: absolute;
    top: 38px;
    background: #fff;
    width: 200px;
    z-index: 2;
    right: 10px;
    display: none;
}

.dropdown-item:hover{
    display: block;
}

.dropdown-item .dropdown-item-item{
    display: block;
    padding: 8px 10px;
    color: #878787;
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
}

.dropdown-item .dropdown-item-item:hover{
    background-color: #017FFF;
    color: #fff;
}

.dropdown-item .dropdown-item-item i{
    margin-right: 10px;
}

.content-menu-category{
    background: #ffff;
    position: fixed;
    height: 100%;
    width: 0;
    padding: 0;
    transition: all 0.3s;
    left: -100px;
    top: 0;
}

.content-menu-category-active{
    width: 60%;
    height: 100%;
    left: 0;
}

.content-menu-category ul li{
    padding: 16px;
}

.content-menu-category ul li a{
    color: #878787;
    font-size: 20px;
}

.clear-both{
    content: "";
    clear: both;
    display: table;
}
.user-button{
    padding: 8px 10px;
}

@media only screen and (max-width: 992px) {
    .header-lg{
        display: none;
    }

    .header-sm{
        display: block;
        height: 110px;
        position: fixed;
        width: 100%;
        z-index: 10;
    }
}