<section class="header-lg">
  <div class="container" style="height: 100px;">
    <div class="header-top">
      <a class="logo" routerLink="/">
        <img width="100" src="http://static.muahoantien.com/uploads/library/logo_requa_vn.png" class="img-fluid" alt="">
      </a>
      <div id="categoryBox" class="header-top-item content-dropdown">
        <div class="menu-box">
          <p class="mb-0"><i class='bx bx-menu fs30'></i></p>
          <div class="menu-content">
          <p class="fs11 mb-0">Danh mục</p>
          <p class="fs13 mb-0">Sản phẩm <i class='bx bxs-down-arrow fs8'></i></p>
        </div>
        </div>
        <div class="dropdown-item">
          <a *ngFor="let item of listCategory" [routerLink]="['/tim-kiem']" [queryParams]="{query_cate: item?.name+ '_i.'+ item?.uid}" class="dropdown-item-item">
            <i class="bx" [ngClass]="{'bxs-cookie': item?.name === 'Thức Ăn', 
                                      'bx-laptop' : item?.name === 'Điện Máy', 
                                      'bx-home' : item?.name === 'Trang Trí', 
                                      'bx-drink' : item?.name === 'Bình Nước',
                                      'bx-medal' : item?.name === 'Trang Sức',
                                      'bx-box' : item?.name === 'Tủ đồ' }"></i> {{item?.name}}
          </a>
        </div>
      </div>
      <div class="search-box">
        <app-search-box></app-search-box>
      </div>
      <div class="user-box header-top-item content-dropdown">
        <p class="mb-0"><i class='bx bx-user fs30' ></i></p>
        <div class="user-content">
          <p class="fs11 mb-0">Tài khoản</p>
          <p *ngIf="!isLogin" class="fs13 mb-0">Đăng nhập <i class='bx bxs-down-arrow fs8'></i></p>
          <p *ngIf="isLogin" class="fs13 mb-0">{{user?.name}} <i class='bx bxs-down-arrow fs8'></i></p>
        </div>
        <div class="dropdown-item user-button">
          <ng-template [ngIf]="!isLogin">
            <a routerLink="/tai-khoan/dang-nhap" class="btn btn-warning btn-block fs13 fw500">Đăng nhập</a>
            <a routerLink="/tai-khoan/dang-ki" class="btn btn-warning btn-block fs13 fw500">Tạo tài khoản</a>
          </ng-template>
          <ng-template [ngIf]="isLogin">
            <ul class="list-style-none border-bottom user-account">
              <li><a routerLink="/tai-khoan/chinh-sua" class="text-muted text-decoration-none fs13 fw500 d-block">Tài khoản của tôi</a></li>
              <li><a routerLink="/tai-khoan/dia-chi" class="text-muted text-decoration-none fs13 fw500 d-block">Sổ địa chỉ</a></li>
            </ul>
            <a (click)="logOut()" class="btn btn-danger btn-block mt-2">Đăng xuất</a>
          </ng-template>
        </div>
      </div>
      <div class="cart-box header-top-item text-decoration-none">
        <a routerLink="/gio-hang"  class="position-relative mb-0 text-white text-decoration-none">
          <i class='bx bx-cart fs30' ></i>
          <span class="bg-warning cart-quatity">{{productCount}}</span>
        </a>
        <div class="user-content">
          <p class="fs11 mb-0">&nbsp;</p>
          <p class="fs13 mb-0">Giỏ hàng <i class='bx bxs-down-arrow fs8'></i></p>
          <div ngbDropdown #myDrop="ngbDropdown" placement="bottom-right">
            <button class="d-none" id="dropNotifyCart" ngbDropdownAnchor (click)="myDrop.open()"></button>
            <div ngbDropdownMenu aria-labelledby="dropNotifyCart" class="mt-2 ml-5 p-3 dropNotifyCart">
              <p class="mb-2"> <i class='bx bxs-check-circle text-success'></i> Thêm vào giỏ hàng thành công!</p>
              <a routerLink="/gio-hang" class="btn btn-danger btn-block" (click)="myDrop.close()">Xem giỏ hàng và thanh toán</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-bottom">
      <span></span>
      <span></span>
      <ul>
        <li> <a href=""> tủ lạnh</a> </li>
        <li> <a href=""> airpod</a> </li>
        <li> <a href=""> sách kỹ năng sống</a> </li>
        <li> <a href=""> áo hoodie nam</a> </li>
        <li> <a href=""> giỏ quà tết</a> </li>
        <li> <a href=""> sữa rửa mặt</a> </li>
        <li> <a href=""> sạc dự phòng</a> </li>
      </ul>
    </div>
  </div>
</section>

<section class="header-sm" id="header-sm">
  <div *ngIf="isTop" class="d-flex align-items-end pr15 pl15 justify-content-between">
    <div (click)="categoryMenuShow()" class="category-menu">
      <i class='bx bx-menu-alt-left fs30 text-white'></i>
    </div>
    <div id="logo-sm" class="logo-sm">
      <a routerLink="/">
        <img class="img-fluid" src="http://static.muahoantien.com/uploads/library/logo_requa_vn.png" alt="">
      </a>
    </div>
    <div class="cart-sm">
      <a routerLink="/gio-hang">
        <i class='bx bx-cart fs30 text-white'></i>
        <span class="bg-warning cart-quatity">{{productCount}}</span>
      </a>
    </div>
  </div>

  <div class="search-box mt-2 d-flex">
    <div (click)="categoryMenuShow()" *ngIf="!isTop" class="category-menu pl10 col">
      <i class='bx bx-menu-alt-left fs30 text-white'></i>
    </div>
    <div [ngClass]="{'col-12': isTop, 'col-9': !isTop}">
      <app-search-box></app-search-box>
    </div>
    <div *ngIf="!isTop" class="cart-sm col p-0">
      <a routerLink="/gio-hang">
        <i class='bx bx-cart fs30 text-white'></i>
        <span [ngClass]="{'cart-quatity': isTop, 'cart-quatity-sm': !isTop}" class="bg-warning">{{productCount}}</span>
      </a>
    </div>
  </div>
  <div [ngClass]="isShowCategory ? 'content-menu-category-active' : ''" class="content-menu-category">
    <div (click)="categoryMenuShow()" class="category-menu pt-3 pr-3">
      <i class='bx bx-x fs30 text-muted float-right'></i>
      <div class="clear-both"></div>
    </div>
    <ul>
     <li *ngFor="let item of listCategory">
        <a (click)="categoryMenuShow()" [routerLink]="['/tim-kiem']" [queryParams]="{query_cate: item?.name+ '_i.'+ item?.uid}">
          <i class="bx" [ngClass]="{'bxs-cookie': item?.name === 'Thức Ăn', 
                                  'bx-laptop' : item?.name === 'Điện Máy', 
                                  'bx-home' : item?.name === 'Trang Trí', 
                                  'bx-drink' : item?.name === 'Bình Nước',
                                  'bx-medal' : item?.name === 'Trang Sức',
                                  'bx-box' : item?.name === 'Tủ đồ' }"></i> {{item?.name}}
        </a>
      </li>
    </ul>
  </div>
</section>




<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>