<div class="row">
  <div class="form-group">
    <textarea name=""
              placeholder="Đánh giá"
              class="form-control"
              id=""
              cols="30"
              rows="3">
    </textarea>
  </div>
  <div class="media">
    <div class="media-left">
      <img src="http://fakeimg.pl/50x50" class="media-object mr-2" style="width: 40px"/>
    </div>
    <div class="media-body">
      <h4 class="media-heading title">Fahmi Arif</h4>
      <p class="komen">
        kalo bisa ya ndak usah gan biar cepet<br />
        <a href="#">reply</a>
      </p>
    </div>
  </div>
  
  <div class="media">
    <div class="media-left">
      <img src="http://fakeimg.pl/50x50" class="media-object mr-2" style="width: 40px"/>
    </div>
    <div class="media-body">
      <h4 class="media-heading title">Fahmi Arif</h4>
      <p class="komen">
        kalo bisa ya ndak usah gan biar cepet<br />
        <a href="#">reply</a>
      </p>
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <img src="http://fakeimg.pl/50x50" class="media-object mr-2" style="width: 40px"/>
    </div>
    <div class="media-body">
      <h4 class="media-heading title">Fahmi Arif</h4>
      <p class="komen">
        kalo bisa ya ndak usah gan biar cepet<br />
        <a href="#">reply</a>
      </p>
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <img src="http://fakeimg.pl/50x50" class="media-object mr-2" style="width: 40px"/>
    </div>
    <div class="media-body">
      <h4 class="media-heading title">Fahmi Arif</h4>
      <p class="komen">
        kalo bisa ya ndak usah gan biar cepet<br />
        <a href="#">reply</a>
      </p>
    </div>
  </div>
</div>
