<div class="card col-12 col-sm-12 col-md-3 user-form">
  <div class="form-header">
    <div class="mr-3">
      <img src="/assets/imgs/icon1.png" alt="">
    </div>
    <div>
      <h6 class="mb-0">Tạo tài khoản</h6>
      <p class="fs13">Bạn đã có tài khoản? <a routerLink="/tai-khoan/dang-nhap">Đăng nhập</a></p>
    </div>
  </div>
    <form #registerForm="ngForm" (ngSubmit)="registerForm.form.valid && submit()">
      <div class="form-group">
        <input [(ngModel)]="customer.name" name="name" #name="ngModel" type="text" class="form-control fs13" placeholder="Nhập họ tên">
        <div *ngIf="registerForm.submitted && phone.invalid" class="text-danger small mt-1">
          Trường này không được bỏ trống
        </div>
      </div>
      <div class="form-group">
        <input [(ngModel)]="customer.phone" name="phone" #phone="ngModel" type="text" class="form-control fs13" placeholder="Nhập số điện thoại">
        <div *ngIf="registerForm.submitted && phone.invalid" class="text-danger small mt-1">
          Trường này không được bỏ trống
        </div>
      </div>
      <div class="form-group">
        <input [(ngModel)]="customer.password" name="password" #password="ngModel" type="password" class="form-control fs13" placeholder="Nhập mật khẩu">
        <div *ngIf="registerForm.submitted && phone.invalid" class="text-danger small mt-1">
          Trường này không được bỏ trống
        </div>
      </div>
      <button [disabled]="isLoading" class="btn btn-block btn-warning">
        Tạo tài khoản
        <div *ngIf="isLoading" class="spinner spinner-border" role="status"></div>
      </button>
    </form>
</div>