#myTab{
    position: sticky;
    top: 0px;
    z-index: 999;
    background: #fff;
}
.prod-list .nav-tabs .nav-item .nav-link{
    width: 120px;
}

.btn-view-more{
    background-color: #fff;
    border:1px solid #0D5CB6;
    color: #0D5CB6;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
}

.btn-view-more:hover{
    background-color: #0D5CB6;
    color: #fff;
}

.cate-item{
    display: flex;
    width: 150px !important;
    align-items: center;
    justify-content: space-around;
    color: #000;
    text-transform: capitalize;
}

.list-cate .nav-item .active{
    border-color: red red #fff;;
}

.thumb-cate{
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
}
.thumb-cate img{
    border-radius: 50%;
}

@media (max-width: 992px) {
    .list-cate{
        overflow-x: scroll;
        flex-wrap: nowrap;
        overflow-y: hidden;
    }
}