<div class="row">
  <div class="row card card-body flex-row mb-5 ml-0 p-3">
    <div class="col-md-4 item-photo">
      <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img [src]="productOption?.image" class="d-block w-100" alt="..." />
          </div>
          <!-- <div class="carousel-item" data-bs-interval="2000">
                <img [src]="product?.image" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img [src]="product?.image" class="d-block w-100" alt="...">
              </div> -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="col-md-5 border-1">
      <!-- Datos del vendedor y titulo del producto -->
      <h3 class="fw300 fs24">{{ product?.name }}</h3>
      <h5>
        <ngb-rating [rate]="3" [max]="5"></ngb-rating> ·
        <small style="color: #337ab7">(5054 ventas)</small>
      </h5>
      <ul class="d-none">
        <li>0% TRẢ GÓP 12 tháng x ₫257.500 (Lãi suất 0%)</li>
        <li>Miễn phí vận chuyển</li>
      </ul>
      <!-- Precios -->
      <h3>{{ productOption?.price | number }} ₫</h3>
      <p class="fs13 text-decoration-line-throug d-none">5.750.000 ₫-19%</p>

      <!-- Detalles especificos del producto -->
      <div class="section mt-3">
        <h6 class="title-attr mb-2 fs15">
          <small class="text-muted">Chọn kích thước</small> {{ productOption?.size}}
        </h6>
        <div class="product-option">
          <ng-container *ngFor="let item of product?.products">
            <input
              (change)="productOptionChange($event.target.value)"
              id="{{ item?.uid }}"
              type="radio"
              name="option"
              [value]="item?.uid"
              [checked]="item?.uid == productOption?.uid"
            />
            <label for="{{ item?.uid }}">{{ item?.size }}</label>
          </ng-container>
        </div>
      </div>
      <div class="section mt-3">
        <h6 class="title-attr mb-2"><small>Số lượng</small></h6>
        <app-quantity-box [quantityProduct]="1" (quantity)="quantityChange($event)"></app-quantity-box>
      </div>

      <!-- Botones de compra -->
      <div class="section" style="padding-bottom: 20px">
        <button class="btn btn-danger btn-block" (click)="buyNow(productOption)">
          Chọn mua
        </button>
      </div>
    </div>

    <div class="col-md col-12">
      <div class="current-seller mt-md-5">
        <table class="table">
          <tbody>
            <tr>
              <td class="text-left text-muted p-0 pb-3">Thời gian bảo hành</td>
              <td class="text-right p-0">12 tháng</td>
            </tr>
            <tr>
              <td class="text-left text-muted p-0 pb-3">Hình thức bảo hành</td>
              <td class="text-right p-0">Điện tử</td>
            </tr>
            <tr>
              <td class="text-left text-muted p-0">Nơi bảo hành</td>
              <td class="text-right p-0">Chính hãng</td>
            </tr>
          </tbody>
        </table>
  
        <div class="customer-benefit">
          <div class="benefit-item">
            <img src="../../../assets/imgs/compensation.svg" alt="">
            <p>Hoàn tiền <br> 111% <br> nếu giả</p>
          </div>
          <div class="benefit-item">
            <img src="../../../assets/imgs/guarantee.svg" alt="">
            <p>Mở hộp <br> kiểm tra <br> nhận hàng</p>
          </div>
          <div class="benefit-item">
            <img src="../../../assets/imgs/refund.svg" alt="">
            <p>Đổi trả <br> <b>7 ngày</b> <br> nếu sp lỗi</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-12 mb-5 p-0">
    <div class="card card-body">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="pills-profile-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-profile"
            type="button"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="true"
          >
            Thông tin chi tiết
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="pills-home-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-home"
            type="button"
            role="tab"
            aria-controls="pills-home"
            aria-selected="false"
          >
            Mô tả sản phẩm
          </button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade"
          id="pills-home"
          role="tabpanel"
          aria-labelledby="pills-home-tab" >
          <app-product-description></app-product-description>
        </div>

        <div
          class="tab-pane fade active show"
          id="pills-profile"
          role="tabpanel"
          aria-labelledby="pills-profile-tab"
        >
          <table class="table col-12 col-sm-12 col-md-10 detail-info">
            <tbody>
              <tr *ngFor="let item of product?.detail_information">
                <th scope="row">{{item?.key}}</th>
                <td colspan="2">{{item?.value}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div
          class="tab-pane fade"
          id="pills-contact"
          role="tabpanel"
          aria-labelledby="pills-contact-tab"
        >
          ...
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 p-0">
    <div class="card card-body">
      <h4 class="fs18 text-uppercase">Đánh giá sản phẩm</h4>
      <app-comment></app-comment>
    </div>
  </div>
</div>
<div *ngIf="showNotiCart" (click)="closeNotiCart()" class="noti-cart-overlay">
  <div class="d-lg-none noti-cart p-3">
    <div class="row">
      <div class="col-4">
        <div class="prod-thumb">
          <img class="img-fluid" [src]="productBuyer?.img" alt=""/>
        </div>
      </div>
      <div class="col-8">
        <div class="prod-info">
          <div class="prod-name fs13 fw500">
            {{productBuyer?.product_name}}
          </div>
          <div class="prod-color fs11">
            <span class="text-muted">Loại: </span> <span>{{productBuyer?.size}}</span>
          </div>
          <div class="prod-price fs15 fw500">{{productBuyer?.price | number}} ₫</div>
        </div>
      </div>
      <div class="col-12">
        <a routerLink="/gio-hang" class="btn btn-danger btn-block fs15 mt-3">Xem giỏ hàng</a >
      </div>
    </div>
  </div>
</div>
