.noti-cart-overlay{
  position: relative;
}

ul > li {
  margin-right: 25px;
  font-weight: lighter;
  cursor: pointer;
  list-style: none;
}
li.active {
  border-bottom: 3px solid silver;
}

.item-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #f6f6f6;
}
.menu-items {
  list-style-type: none;
  font-size: 11px;
  display: inline-flex;
  margin-bottom: 0;
  margin-top: 20px;
}
.btn-success {
  width: 100%;
  border-radius: 0;
}
.section {
  width: 100%;
  margin-left: -15px;
  padding: 2px;
  padding-left: 15px;
  padding-right: 15px;
}
.title-price {
  margin-top: 30px;
  margin-bottom: 0;
  color: black;
}
.title-attr {
  margin-top: 0;
  margin-bottom: 0;
  color: black;
}
.btn-minus {
  cursor: pointer;
  font-size: 7px;
  display: flex;
  align-items: center;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid gray;
  border-radius: 2px;
  border-right: 0;
}
.btn-plus {
  cursor: pointer;
  font-size: 7px;
  display: flex;
  align-items: center;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid gray;
  border-radius: 2px;
  border-left: 0;
}
div.section > div {
  width: 100%;
  display: inline-flex;
}
div.section > div > input {
  margin: 0;
  padding-left: 5px;
  font-size: 10px;
  padding-right: 5px;
  max-width: 18%;
  text-align: center;
}
.attr,
.attr2 {
  cursor: pointer;
  margin-right: 5px;
  height: 20px;
  font-size: 10px;
  padding: 2px;
  border: 1px solid gray;
  border-radius: 2px;
}
.attr.active,
.attr2.active {
  border: 1px solid orange;
}

.detail-info th,td{
  font-size: 13px;
  border: none;
}

.detail-info th{
  background-color: #EFEFEF;
}

.detail-info tr:nth-child(odd){
  background-color: #FAFAFA;
}

.content-detail{
  flex-direction: row;
}

.noti-cart{
  position: absolute;
  inset: auto 0px 0px;
  border: none;
  background: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
  outline: none;
  padding: 0px;
}

.noti-cart div{
  align-items: center;
}

.prod-info div{
  line-height: 20px;
}

.product-option input[type='radio'] {
  display: none;
}

.product-option label {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  border: 1px solid #8e8e8e;
  width: max-content;
  height: auto;
  background-color: transparent;
  border-radius: 5px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
}

.product-option label:hover{
  border: 1px solid blue;
  background-image: url('../../../assets/imgs/checked.svg');
  background-repeat: no-repeat;
  background-position: top right;
}

.product-option input[type='radio']:checked+label {
  position: relative;
  border-radius: 5px;
  border: 1px solid blue;
  width: max-content;
  height: auto;
  top: 5px;
  content: " ";
  display: inline-block;
  background-image: url('../../../assets/imgs/checked.svg');
  background-repeat: no-repeat;
  background-position: top right;
  padding: 4px 8px;
  font-size: 14px;
}

.current-seller{
  border: 1px solid #F6F6F6;
  padding: 8px;
}

.customer-benefit{
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #F6F6F6;
  padding-top: 15px;
}

.customer-benefit .benefit-item img{
  width: 20px;
  margin-bottom: 10px;
}

.customer-benefit .benefit-item{
  font-size: 13px;
  text-align: center;
  line-height: 20px;
}

.product-gift img{
    display: block;
    width: 64px;
    height: 64px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 6px;
    overflow: hidden;
}

@media (max-width: 768px) {
  .noti-cart-overlay{
    position: fixed;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
}

@media (max-width: 426px) {
  .container {
    margin-top: 0px !important;
  }
  .container > .row {
    padding: 0 !important;
  }
  .container > .row > .col-xs-12.col-sm-5 {
    padding-right: 0;
  }
  .container > .row > .col-xs-12.col-sm-9 > div > p {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .container > .row > .col-xs-12.col-sm-9 > div > ul {
    padding-left: 10px !important;
  }
  .section {
    width: 104%;
  }
  .menu-items {
    padding-left: 0;
  }
}

