<div class="row">
  <div class="col-12 col-md-3">
    <div class="user-info-nav">
      <div class="user-avatar">
        <img src="../../../../assets/imgs/avatar.png" alt="">
      </div>
      <div class="user-name">
        <p class="fs13 mb-0 text-muted fw300">Tài khoản của</p>
        <h6 class="text-capitalize">{{customer_info?.name}}</h6>
      </div>
    </div>
      <nav class="nav flex-column">
          <a class="nav-link customer-info-nav--item" [routerLink]="['/tai-khoan/chinh-sua']" [routerLinkActive]="['customer-info-nav--item-active']">
            <i class='bx bxs-user customer-info-icon'></i>
            <span class="customer-info-text-content">Thông tin tài khoản</span>
          </a>
          <a class="nav-link customer-info-nav--item"  [routerLink]="['/tai-khoan/dia-chi']"  [routerLinkActive]="['customer-info-nav--item-active']">
            <i class='bx bxs-edit-location customer-info-icon' ></i>
            <span class="customer-info-text-content">Sổ địa chỉ</span>
          </a>
          <a class="nav-link customer-info-nav--item"  [routerLink]="['/tai-khoan/don-hang']"  [routerLinkActive]="['customer-info-nav--item-active']">
            <i class='bx bxs-shopping-bags customer-info-icon' ></i>
            <span class="customer-info-text-content">Đơn hàng</span>
          </a>
      </nav>
  </div>
  <div class="col-12 col-md-9">
      <h3 class="heading-user-info">{{title_page}}</h3>
      <div class="content-user-info">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>