<div *ngIf="!searchResult" class="product-list">
  <a *ngFor="let item of products" [routerLink]="['/chi-tiet/'+ item.linkName]"  class="card product-item">
    <div class="card-body">
      <div class="product-thumb">
        <img class="img-fluid" [src]="item?.image" alt="">
        <div *ngIf="item?.product_attached.name" class="gift">
          
            <span>Quà tặng</span>
            <div class="gift-thumb" [ngStyle]="{'background-image': 'url('+ item?.product_attached.image +')'}"></div>
        </div>
      </div>
      <p class="product-name">{{ (item?.name.length > 55)? (item?.name | slice:0:55)+'...':(item?.name)}}</p>
      <ngb-rating [rate]="0" [max]="5"></ngb-rating>
      <p class="product-price">
        {{item['price'] | number}}đ
        <span class="product-discount">-10%</span>
      </p>
    </div>
  </a>
</div>


<div *ngIf="searchResult" class="row">
  <div *ngFor="let item of products" class="col-6 col-sm-4 col-md-3 p-0">
    <a [routerLink]="['/chi-tiet/'+ item.linkName]"  class="card product-item">
      <div class="card-body p-2">
        <div class="product-thumb">
          <img class="img-fluid" [src]="item.image" alt="">
        </div>
        <p class="product-name">{{ (item?.name.length > 50)? (item?.name | slice:0:50)+'..':(item?.name)}}</p>
        <!-- <ngb-rating [rate]="3" [max]="5"></ngb-rating> -->
        <p class="product-price">
          {{item?.price | number}}₫
          <span class="product-discount d-none">-10%</span>
        </p>
      </div>
    </a>
  </div>
</div>
