.high-light-cate{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    gap: 12px 8px;
}

@media (max-width: 992px) {
    .high-light-cate{
        overflow-x: auto;
        grid-template-columns: repeat(10, 30%);
        gap: 0;
    }
}