<div class="card border-0">
  <div class="hot-deal-header card-header bg-white d-flex justify-content-between">
    <div class="hot-deal-asset">
      <img class="img-fluid" src="../../../assets/imgs/giasoc.svg" alt="" />
      <img class="img-fluid" src="../../../assets/imgs/flash.gif" alt="" />
      <img class="img-fluid" src="../../../assets/imgs/homnay.svg" alt="" />
    </div>

    <div class="navigation">
      <a
        data-view-id="home_flashdeal_view.all"
        title="Xem tất cả Deal Hot"
        href="/deal-hot?tab=now"
        ><div class="style__CountdownTime-sc-16oa7iu-1 ktKpMe">
          <span>02</span>:<span class="min">09</span>:<span>25</span
          ><img
            src="https://salt.tikicdn.com/ts/upload/93/23/bf/1a8d8d0978740faf58eba5f419507de3.png"
          /></div
      ></a>
    </div>
  </div>

  <div class="hot-deal-body">
    <div class="deals-item bg-white">
      <div class="deals-thumb">
        <span class="deals-discount">-99%</span>
        <img src="https://salt.tikicdn.com/cache/280x280/ts/product/b2/c6/51/b96b6ed75876b6ddda71504bcf82186a.jpg" class="img-fluid" alt="">
      </div>
      <p class="deals-price">45.000 ₫</p>
      <div class="progress">
        <span class="progress-title">Vừa mở bán</span>
        <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="deals-item bg-white">
      <div class="deals-thumb">
        <span class="deals-discount">-99%</span>
        <img src="https://salt.tikicdn.com/cache/280x280/ts/product/b2/c6/51/b96b6ed75876b6ddda71504bcf82186a.jpg" class="img-fluid" alt="">
      </div>
      <p class="deals-price">45.000 ₫</p>
      <div class="progress">
        <span class="progress-title">Vừa mở bán</span>
        <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="deals-item bg-white">
      <div class="deals-thumb">
        <span class="deals-discount">-99%</span>
        <img src="https://salt.tikicdn.com/cache/280x280/ts/product/b2/c6/51/b96b6ed75876b6ddda71504bcf82186a.jpg" class="img-fluid" alt="">
      </div>
      <p class="deals-price">45.000 ₫</p>
      <div class="progress">
        <span class="progress-title">Vừa mở bán</span>
        <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="deals-item bg-white">
      <div class="deals-thumb">
        <span class="deals-discount">-99%</span>
        <img src="https://salt.tikicdn.com/cache/280x280/ts/product/b2/c6/51/b96b6ed75876b6ddda71504bcf82186a.jpg" class="img-fluid" alt="">
      </div>
      <p class="deals-price">45.000 ₫</p>
      <div class="progress">
        <span class="progress-title">Vừa mở bán</span>
        <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="deals-item bg-white">
      <div class="deals-thumb">
        <span class="deals-discount">-99%</span>
        <img src="https://salt.tikicdn.com/cache/280x280/ts/product/b2/c6/51/b96b6ed75876b6ddda71504bcf82186a.jpg" class="img-fluid" alt="">
      </div>
      <p class="deals-price">45.000 ₫</p>
      <div class="progress">
        <span class="progress-title">Vừa mở bán</span>
        <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>    
    
  </div>
</div>
