<h2 class="fs18 fw400 text-uppercase">Giỏ hàng</h2>
<div class="row">
  <div class="col-12 col-md-8 col-xl-9">
    <div class="card card-body deal-item">
        <ul class="list-cart">
          <li class="shop-name">
            <p class="fw500 mb-3">Máy tính Lanh Dung </p>
          </li>
          <li class="inner-product row">
            <div class="product-thumb col-6 col-md-2">
              <img class="img-fluid" src="https://salt.tikicdn.com/cache/200x200/ts/product/97/89/e3/822949875175032e9a9f470937ad9019.jpg" alt="">
            </div>
            <div class="product-name col-6 col-md-8">
              <a class="text-decoration-none text-dark" routerLink="/chi-tiet/man-hinh">Màn Hinh BenQ GW2283 22 Inch Full HD (1920 x 1080) 5ms 60Hz IPS Speaker 1W x 2 - Hàng Chính Hãng</a>  
              <p class="  text-secondary fs13">Cung cấp bởi máy tính Lanh Dung</p>
              <app-quantity-box></app-quantity-box>
            </div>
            <div class="product-content-price col-12 col-md-2">
              <p class="fw500">2.350.000₫</p>
              <div class="d-flex">
                <a class="fs12 mr-3">Xóa</a> 
                <a class="fs12">Mua sau</a>
              </div>
            </div>
          </li>
        </ul>

        
    </div>
  </div>
  <div class="col-12 col-md-4 col-xl-3">
    <div class="card card-body deal-item">
        <p class="fw500">Địa chỉ nhận hàng</p>
        <p class="fs14 fw500">Nguyễn Văn A  |  0969296543</p>
        <p class="fs12 text-muted">Tòa nhà Sông Hồng ,Thái Hà , Đống Đa, Hà Nội</p>
    </div>

    <div class="card card-body mt-3 deal-item">
      <p class="fw500">Voucher | Mã giảm giá</p>
      <input type="text" placeholder="Nhập mã giảm giá" class="form-control">
      <a class="btn btn-primary mt-1 btn-sm">Áp dụng</a>
  </div>

  <div class="card card-body mt-3 deal-item">
    <div class="d-flex justify-content-between">
      <p class="fs16 fw300">Tạm tính</p>
      <p>2.350.000đ</p>  
    </div>
    <div class="d-flex justify-content-between mt-2">
      <p class="fs16 fw300">Thành tiền</p>
      <p class="text-danger fs22">2.350.000đ</p>  
    </div>
  </div>

  <button class="btn btn-danger btn-block mt-2">Thanh toán</button>
  </div>
</div>