.list-cart{
    list-style-type: none;
}


.product-content-price{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deal-item{
    border-radius: 8px;
    margin-top: 20px;
}

.deal-item:first-child{
    margin-top: 0;
}

.empty-thumb{
    margin: auto;
    width: 170px;
}
.product-gift{
    margin-top: 30px;
}
.product-gift img{
    width: 50px;
    display: inline-block;
    margin-right: 8px;
}

.gift-box{
    background-color: #D2EFFD;
    border-radius: 3px;
    color: #017FFF;
    font-size: 12px;
    padding: 2px 6px;
}

.product-thumb{
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .product-content-price{
        align-items: flex-end;
        margin-top: 1rem;
        padding-right: 3rem;
    }
}

@media (max-width: 576px) {
    .product-name a{
        font-size: 13px;
    }
}