<section class="elementor-section elementor-top-section elementor-element elementor-element-7081d27 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7081d27" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-cdc7904" data-id="cdc7904" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
    <div class="elementor-widget-wrap">
  <div class="elementor-element elementor-element-a51332b elementor-widget elementor-widget-besa-heading" data-id="a51332b" data-element_type="widget" data-widget_type="besa-heading.default">
<div class="elementor-widget-container">

<div class="tbay-element tbay-element-heading">
<h3 class="heading-tbay-title">
        <span class="title">Liên hệ Rẻ Quá</span>
      
    </h3>
</div>		</div>
</div>
<div class="elementor-element elementor-element-ce85e6e elementor-widget elementor-widget-text-editor" data-id="ce85e6e" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
      <div class="elementor-text-editor elementor-clearfix">
<p><strong><span style="color: #21ab0b;">HOTLINE: (+84) 365365060</span></strong></p>					</div>
  </div>
</div>
<div class="elementor-element elementor-element-47eb59e elementor-widget elementor-widget-text-editor" data-id="47eb59e" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
      <div class="elementor-text-editor elementor-clearfix">
<p><span style="color: #555555;">(T2 đến T7: 8h00 – 20h00)</span></p>					</div>
  </div>
</div>
<div class="elementor-element elementor-element-6064234 elementor-widget elementor-widget-text-editor" data-id="6064234" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
      <div class="elementor-text-editor elementor-clearfix">
<p><span style="color: #999999;">Tòa nhà Hesco, Số 135 Trần phú, Văn Quán, </span><span style="color: #999999;">Hà Đông, Hà Nội</span></p><p><span style="color: #fa4f26;">Email: contact@requa.vn</span></p>					</div>
  </div>
</div>
<div class="elementor-element elementor-element-5ad7448 e-grid-align-left elementor-shape-rounded elementor-grid-0 elementor-widget elementor-widget-social-icons" data-id="5ad7448" data-element_type="widget" data-widget_type="social-icons.default">
<div class="elementor-widget-container">
<div class="elementor-social-icons-wrapper elementor-grid">
    <div class="elementor-grid-item">
<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook-f elementor-repeater-item-90170e1" href="https://www.facebook.com/ReQuaChamVN" target="_blank">
  <span class="elementor-screen-only">Facebook-f</span>
  <i class="fab fa-facebook-f"></i>					</a>
</div>
    <div class="elementor-grid-item">
<a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-repeater-item-ad2e882" href="https://twitter.com/RequaVn" target="_blank">
  <span class="elementor-screen-only">Twitter</span>
  <i class="fab fa-twitter"></i>					</a>
</div>
    <div class="elementor-grid-item">
<a class="elementor-icon elementor-social-icon elementor-social-icon-pinterest elementor-repeater-item-b4b8151" href="https://www.pinterest.com/requavn/_saved/" target="_blank">
  <span class="elementor-screen-only">Pinterest</span>
  <i class="fab fa-pinterest"></i>					</a>
</div>
    <div class="elementor-grid-item">
<a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-4cccfb4" href="https://www.youtube.com/channel/UCt2zPIqhrGs3ke3HRRpSC-A" target="_blank">
  <span class="elementor-screen-only">Youtube</span>
  <i class="fab fa-youtube"></i>					</a>
</div>
</div>
</div>
</div>
  </div>
</div>
</div>
<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-f4fd9ec" data-id="f4fd9ec" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
    <div class="elementor-widget-wrap">
  <div class="elementor-element elementor-element-4333ffd elementor-widget elementor-widget-besa-heading" data-id="4333ffd" data-element_type="widget" data-widget_type="besa-heading.default">
<div class="elementor-widget-container">

<div class="tbay-element tbay-element-heading">
<h3 class="heading-tbay-title">
        <span class="title">Về chúng tôi</span>
      
    </h3>
</div>		</div>
</div>
<div class="elementor-element elementor-element-04b3037 elementor-widget elementor-widget-besa-heading" data-id="04b3037" data-element_type="widget" data-widget_type="besa-heading.default">
<div class="elementor-widget-container">

<div class="tbay-element tbay-element-heading">
<p class="heading-tbay-title">
        <span class="title">Phương thức thanh toán</span>
      
    </p>
</div>		</div>
</div>
<section class="elementor-section elementor-inner-section elementor-element elementor-element-9ee988a elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="9ee988a" data-element_type="section">
  <div class="elementor-container elementor-column-gap-no">
    <div class="elementor-row">
<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-c3e1a2b" data-id="c3e1a2b" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
    <div class="elementor-widget-wrap">
  <div class="elementor-element elementor-element-9564419 elementor-widget elementor-widget-image" data-id="9564419" data-element_type="widget" data-widget_type="image.default">
<div class="elementor-widget-container">
      <div class="elementor-image">
              <img width="660" height="371" src="https://requa.vn/wp-content/uploads/2019/10/full-color-800x450-1.jpg" class="attachment-large size-large" alt="" loading="lazy">														</div>
  </div>
</div>
  </div>
</div>
</div>
<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-4167302" data-id="4167302" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
    <div class="elementor-widget-wrap">
  <div class="elementor-element elementor-element-716beb4 elementor-widget elementor-widget-image" data-id="716beb4" data-element_type="widget" data-widget_type="image.default">
<div class="elementor-widget-container">
      <div class="elementor-image">
              <img src="https://elementor.thembay.com/besa/wp-content/uploads/2019/10/Master-Card.svg" title="" alt="">														</div>
  </div>
</div>
  </div>
</div>
</div>
<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-993be95" data-id="993be95" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
    <div class="elementor-widget-wrap">
  <div class="elementor-element elementor-element-cbf7d44 elementor-widget elementor-widget-image" data-id="cbf7d44" data-element_type="widget" data-widget_type="image.default">
<div class="elementor-widget-container">
      <div class="elementor-image">
              <img width="640" height="403" src="https://requa.vn/wp-content/uploads/2019/10/The-Napas-la-mot-loai-the-ATM-noi-dia-lien-ket-he-thong-ngan-hang-tai-Viet-Nam.jpg" class="attachment-large size-large" alt="" loading="lazy">														</div>
  </div>
</div>
  </div>
</div>
</div>
<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-32e936c" data-id="32e936c" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
    <div class="elementor-widget-wrap">
  <div class="elementor-element elementor-element-6167393 elementor-widget elementor-widget-image" data-id="6167393" data-element_type="widget" data-widget_type="image.default">
<div class="elementor-widget-container">
      <div class="elementor-image">
              <img width="660" height="371" src="https://requa.vn/wp-content/uploads/2019/10/Ví-MOMO-1200x9001-800x450-1.jpg" class="attachment-large size-large" alt="" loading="lazy">														</div>
  </div>
</div>
  </div>
</div>
</div>
      </div>
</div>
</section>
  </div>
</div>
</div>
<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-8d98231" data-id="8d98231" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
    <div class="elementor-widget-wrap">
  <div class="elementor-element elementor-element-aa48f31 elementor-widget elementor-widget-besa-heading" data-id="aa48f31" data-element_type="widget" data-widget_type="besa-heading.default">
<div class="elementor-widget-container">

<div class="tbay-element tbay-element-heading">
<h3 class="heading-tbay-title">
        <span class="title">Hỏi đáp và chính sách</span>
      
    </h3>
</div>		</div>
</div>
  </div>
</div>
</div>
<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-b1389cf" data-id="b1389cf" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
    <div class="elementor-widget-wrap">
  <div class="elementor-element elementor-element-73cc142 elementor-widget elementor-widget-besa-heading" data-id="73cc142" data-element_type="widget" data-widget_type="besa-heading.default">
<div class="elementor-widget-container">

<div class="tbay-element tbay-element-heading">
<h3 class="heading-tbay-title">
        <span class="title">Tải ứng dụng Requa.vn</span>
      
    </h3>
</div>		</div>
</div>
<div class="elementor-element elementor-element-140a9a1 elementor-widget elementor-widget-text-editor" data-id="140a9a1" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
      <div class="elementor-text-editor elementor-clearfix">
<p><span style="color: #999999;">– Khuyến mại cực lớn trên ứng dụng</span></p><p><span style="color: #999999;">– Hỗ trợ trên iOS &amp; Android</span></p>					</div>
  </div>
</div>
<section class="elementor-section elementor-inner-section elementor-element elementor-element-b46820e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="b46820e" data-element_type="section">
  <div class="elementor-container elementor-column-gap-default">
    <div class="elementor-row">
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-72697bd" data-id="72697bd" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
    <div class="elementor-widget-wrap">
  <div class="elementor-element elementor-element-ab8dfc0 elementor-widget elementor-widget-image" data-id="ab8dfc0" data-element_type="widget" data-widget_type="image.default">
<div class="elementor-widget-container">
      <div class="elementor-image">
                <a href="#">
    <img width="130" height="40" src="https://requa.vn/wp-content/uploads/2019/10/app-store.jpg" class="attachment-medium size-medium" alt="" loading="lazy">								</a>
                  </div>
  </div>
</div>
  </div>
</div>
</div>
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-de1e11f" data-id="de1e11f" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
    <div class="elementor-widget-wrap">
  <div class="elementor-element elementor-element-bff2342 elementor-widget elementor-widget-image" data-id="bff2342" data-element_type="widget" data-widget_type="image.default">
<div class="elementor-widget-container">
      <div class="elementor-image">
                <a href="#">
    <img width="130" height="40" src="https://requa.vn/wp-content/uploads/2019/10/google-play.jpg" class="attachment-medium size-medium" alt="" loading="lazy">								</a>
                  </div>
  </div>
</div>
  </div>
</div>
</div>
      </div>
</div>
</section>
<div class="elementor-element elementor-element-969a82f elementor-widget elementor-widget-text-editor" data-id="969a82f" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
      <div class="elementor-text-editor elementor-clearfix">
<span style="color: #999999;">© 2021 Requa.vn&nbsp; –&nbsp; Kênh mua sắm với giá rẻ nhất, chất lượng tốt nhất</span>
<a href="https://www.requa.vn/chuyen-huong/?url=%2F%2Fwww.dmca.com%2FProtection%2FStatus.aspx%3FID%3D7eb4cd85-fd7f-4503-a496-785550a8306a&amp;refurl=https://requa.vn/" title="DMCA.com Protection Status" class="dmca-badge ext-link" rel="external nofollow" onclick="this.target='_blank';"> <img src="https://images.dmca.com/Badges/dmca-badge-w200-5x1-10.png?ID=7eb4cd85-fd7f-4503-a496-785550a8306a" alt="DMCA.com Protection Status"></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>					</div>
  </div>
</div>
  </div>
</div>
</div>
      </div>
</div>
</section>