<footer>
  <section class="container">
    <div class="row">
      <div class="col-md-3 col-12">
        <h6>Liên hệ Rẻ Quá</h6>
        <p class="text-success mb-0">HOTLINE: (+84) 365365060</p>
        <p class="text-muted">(T2 đến T7: 8h00 – 20h00)</p>
        <p class="text-muted fs13">Tòa nhà Hesco, Số 135 Trần phú, Văn Quán, Hà Đông, Hà Nội</p>
        <p class="text-warning">Email: contact@requa.vn</p>

        <div class="social">
            <a class="btn-social btn-facebook" href=""><i class='bx bxl-facebook'></i></a>
            <a class="btn-social btn-twitter" href=""><i class='bx bxl-twitter' ></i></a>
            <a class="btn-social btn-pinterest" href=""><i class='bx bxl-pinterest'></i></a>
            <a class="btn-social btn-youtube" href=""><i class='bx bxl-youtube'></i></a>
        </div>
      </div>
      <div class="col-md-3 col-12">
        <h6>Về chúng tôi</h6>
        <p>Phương thức thanh toán</p>
        <div class="d-flex payment--method">
          <img src="../../../assets/imgs/full-color-800x450-1.jpg" alt="">
          <img src="../../../assets/imgs/Master-Card.svg" alt="">
          <img src="../../../assets/imgs/The-Napas-la-mot-loai-the-ATM-noi-dia-lien-ket-he-thong-ngan-hang-tai-Viet-Nam.jpg" alt="">
          <img src="../../../assets/imgs/vdtt.jpg" alt="">
        </div>
      </div>
      <div class="col-md-3 col-12">
        <h6>Hỏi đáp và chính sách</h6>
      </div>
      <div class="col-md-3 col-12">
        <h6>Tải ứng dụng Requa.vn</h6>
      </div>
    </div>
  </section>
</footer>